body{
    font-family: 'PT Sans', sans-serif;
}
h1{
    font-size: 50px;
}
.name-high{
    color: blueviolet;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 50px;
}
.half-width img{
    width: 80%;
}