body{
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
p{
    font-size:20px;
}
.name-high{
    color: blueviolet;
}
.flexable-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 50px;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(#ff448e,#ffa62f);
    padding: 5px 15px 5px 15px;
    border-radius: 4px;
    font-weight:600;
    color: white;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
/* deram-big section */

.dream-big{
    display: flex;
    margin-top: 80px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-half-width{
    width: 40%;
    padding-left: 50px;
}
.dream-half-width img{
    width: 80%;
}
/* footer part */
.footer-half-width{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 35px grey;
    padding: 10px 70px 100px 70px;
    border-radius: 10px;
     border-left: 8px solid blue;
}
.footer-part{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
#full-stack{
    border-left: 8px solid tomato;
}
.footer{
    text-align: center;
    margin-top: 200px;
    font-weight: 400;
    font-size: large;
}